In [1]:
import pandas as pd
import numpy as np

In [2]:
pd.read_csv('files/metric/eval_by_metrix/comments_mae.csv')

,Unnamed: 0,먹방,주식투자,애견인,요리,냥집사,캠핑,패션,홈트레이닝,룩북,...,v-tuber,베이킹,게임,여행&이벤트,스포츠,자동차,코미디,영화&애니메이션,과학기술,mean
0,svd,215.927350,52.693184,132.427399,105.346806,126.449585,123.226588,63.962327,75.407430,59.845685,...,109.654781,67.805020,184.159468,264.742808,203.289355,145.651879,363.237700,293.003166,172.553141,146.072243
1,coll_keyword,304.440520,68.900090,102.498865,79.054576,101.476423,158.700880,47.649271,47.827586,46.512840,...,106.454964,53.878088,196.308672,345.894541,139.616651,186.283423,466.905937,226.652886,148.831826,150.636775
2,coll_inf,275.803676,84.071933,132.969292,124.627307,137.648528,166.244038,66.438269,82.461528,61.566310,...,132.583041,65.152591,200.203503,409.597136,186.824575,221.506592,483.831060,315.737022,182.696943,177.182508
3,als,359.201042,316.587461,228.117728,132.335644,321.607208,148.503631,88.937641,101.087213,90.254677,...,198.304875,159.812701,243.978729,1270.390879,8518.742172,223.711636,1058.522543,441.840792,263.557485,723.169550
4,mlp_mf,210.807278,349.444021,138.013465,104.687054,123.176637,116.790109,116.965449,75.215030,64.421227,...,121.151313,70.036717,217.617129,407.424051,4283.626589,157.312944,530.811776,305.344644,273.983386,391.128412
5,ncf,230.152781,53.102932,150.902171,114.311929,127.896169,124.671480,80.941228,87.290193,64.036425,...,108.196871,87.117081,163.367648,283.838305,1342.783761,150.345972,408.444422,319.705288,220.486542,215.016874

In [3]:
metrix_list = ['views','comments','likes']
metric_list = ['rmse','r2','mae']

In [4]:
result={}
index = None
for metrix in metrix_list:
    for metric in metric_list:
        data = pd.read_csv(f'files/metric/eval_by_metrix/{metrix}_{metric}.csv',index_col=0)
        new_row = data['mean']
        index = data.index
        result[f'{metrix}_{metric}'] = new_row.tolist()

In [7]:
df = pd.DataFrame(data=result,index=index)

In [8]:
df

,views_rmse,views_r2,views_mae,comments_rmse,comments_r2,comments_mae,likes_rmse,likes_r2,likes_mae
svd,4.734402e+05,-3.402611e-01,159927.954206,365.973100,-0.551096,146.072243,5403.506895,-0.298181,2065.241262
coll_keyword,4.225257e+05,-3.460241e+01,126198.948282,354.555616,-11.176112,150.636775,4377.038515,-10.065522,1788.889487
coll_inf,4.458393e+05,-1.474758e+02,171665.172901,372.552368,-61.373834,177.182508,4829.303537,-53.345542,2411.123944
als,3.522083e+06,-7.649206e-02,383247.233873,15091.944636,0.010546,723.169550,75834.098624,0.008202,6327.020672
mlp_mf,9.452657e+05,-1.003195e+36,339021.687721,1328.238567,-0.469945,391.128412,18789.120764,0.010944,6473.273042
ncf,7.702245e+05,-2.437184e-01,288049.238224,863.260515,-0.137881,215.016874,14183.134753,-0.042939,4789.917003

In [11]:
df.index

Index(['svd', 'coll_keyword', 'coll_inf', 'als', 'mlp_mf', 'ncf'], dtype='object')

In [ ]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

#데이터 생성
# df1=pd.DataFrame({'X':[45,50,64,72,77],'Y':[155,165,177,187,177]})

#그래프생성
plt.plot(df.index.tolist(),df['views_rmse'].tolist(),color='blue',linestyle='-',marker='o')

#그래프 정보 설정
plt.xlim(40, 80) #x축 범위
plt.ylim(100, 200) #y축 범위
plt.xlabel('X') #x 라벨``
plt.ylabel('Y') #y 라벨
plt.title("TITLE") #그래프 이름

#그래프 출력
plt.show()